fastapi
uvicorn
tortoise-orm
aerich
asyncpg
python-dotenv
vapi-python
hubspot-api-client
redis
celery
websockets
pydantic
httpx
twilio
openai
google-generativeai
groq
aiosmtplib
phonenumbers
pytz

python-jose[cryptography] 
passlib[bcrypt] 
python-multipart

passlib[argon2]
argon2-cffi
